body{
    background-image: url(../_img/_quem/eu.jpg);
    background-attachment: fixed;
    background-size: cover;
}
main{
    display: flex;
    justify-content: center;
}
div#livrosdivmain{
    background-color: #ffffff80;
    width: 150vh;
    border-radius: 2rem;
    margin-top: 5rem;
    padding-bottom: 2rem;
}
div#img1{
    position:absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 10rem;
    margin-left: 10rem;
    height: 20vh;
}
div#img2{
    position: absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 10rem;
    margin-left: 65rem;
    height: 20vh;
}
div#img3{
    position: absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 20rem;
    margin-left: 10rem;
    height: 20vh;
}
div#img4{
    position: absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 20rem;
    margin-left: 65rem;
    height: 20vh;
}
p{
    margin-top: 2rem;
}
li{
    list-style-type: none;
}