main{
    display: flex;
    justify-content: center;
}
div#temasdivmain{
    background-color: #ffffff80;
    width: 150vh;
    border-radius: 2rem;
    margin-top: 5rem;
    padding-bottom: 2rem;
}
div#img1{
    position:absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 8rem;
    margin-left: 5rem;
    height: 20vh;
}
div#img2{
    position: absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 8rem;
    margin-left: 65rem;
    height: 20vh;
}
div#img3{
    position: absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 18rem;
    margin-left: 5rem;
    height: 20vh;
}
div#img4{
    position: absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 18rem;
    margin-left: 65rem;
    height: 20vh;
}
div#img5{
    position: absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 31rem;
    margin-left: 5rem;
    height: 15vh;
}
div#img6{
    position: absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 28rem;
    margin-left: 65rem;
    height: 25vh;
}
div#img7{
    position: absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 42rem;
    margin-left: 5rem;
    height: 20vh;
}
div#img8{
    position: absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 42rem;
    margin-left: 65rem;
    height: 20vh;
}
div#img9{
    position: absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 52rem;
    margin-left: 5rem;
    height: 20vh;
}
div#img10{
    position: absolute;
    display: flex;
    border-radius: 2rem;
    margin-top: 52rem;
    margin-left: 65rem;
    height: 20vh;
}